footer {
    padding: 20px 20px 0px 20px;
    text-align: center;
    background-color: #666666;
    width: 100%;
    margin: 0px;
    font-size: 12px;
    position: absolute; 
    bottom: 0px;
}
.container {
    border: 1px solid grey;
    background-color: #e7e7dc;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
  }
#contact {
    background-color: #e7e7dc;
    color: #343a40;
   
    margin: 0px;
}
.card-header {
    font-size: 18px;
}
#gitHub {
    color: #ffffff;
}

#linkedIn {
    color: #ffffff;
}
.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: 0px;
    padding: 10px 20px;
}
