#port {
    background-color: #e7e7dc;
    color: #343a40;
    padding: 0px;
    margin: 0px;
}
.container {
    border: solid grey 1px;
    background-color: #e7e7dc;
}

.card-img-top {
    height:175px;
}
.cardbackground {
    background-color: #917c78;
    color: #343a40;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .divwidth {
        max-width: 960px;
    }
}
@media only screen and (min-width: 760px) {
    .divwidth {
        max-width: 720px;
    }
}
@media only screen and (min-width: 576px) {
    .divwidth {
        max-width: 540px;
    }
}
