#port {
    background-color: #ffffff;
    color: #4aaaa5;
    padding: 0px;
    margin: 0px;
}
.container {
    border: solid grey 1px;
}
.cardbackground {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .divwidth {
        max-width: 960px;
    }
}
@media only screen and (min-width: 760px) {
    .divwidth {
        max-width: 720px;
    }
}
@media only screen and (min-width: 576px) {
    .divwidth {
        max-width: 540px;
    }
}
#trivPic {
    height: 240px;
    width: 320px;
}
